
section {
    min-height: 100vh;
    padding: 1rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
    background-image: url('/assets/images/BG1(1).png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

img {
    position: relative;
    left: 500px;
    top: 65px;
    height: 850px;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.0rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.0rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.2rem;
    font-weight: 400;
}