
section {
    min-height: 100vh;
    padding: 1rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
    background-image: url('/assets/images/wave01.svg');
    background-repeat: no-repeat; 
    background-size: 50% 100%;
    background-position: right;    
}

img {
    position: relative;
    left: 34.5em;
    top: 4.4em;
    height: 50em;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.0rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.0rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.2rem;
    font-weight: 400;
}

.about {
    display: flexbox;
    flex-direction: row;
}
.aboutPic {
    
    max-width: 45%;
}

.aboutPic>img {
    float: left;
    left: -25em;
}

.about-content {
    max-width: 50%;
    float: inline-end;
}
